################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prod_IssueTracker_POC
/obj/Docker
/Prod_IssueTracker_POC/bin/Debug/net8.0
/Prod_IssueTracker_POC/obj
/Prod_IssueTracker_POC.Web/bin/Debug/net8.0
/Prod_IssueTracker_POC.Web/obj/Container
/bin/Debug
/Prod_IssueTracker_POC.Web/obj/Debug/net8.0
/obj/Debug
