# Visual Studio
.vs/
**/.vs/

# Build output
bin/
obj/

# Project-specific build output
Prod_IssueTracker_POC/bin/
Prod_IssueTracker_POC/obj/
Prod_IssueTracker_POC.Web/bin/
Prod_IssueTracker_POC.Web/obj/

# Debug
**/obj/Debug/
**/obj/Release/

# User-specific files
*.user
*.suo