################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prod_IssueTracker_POC
/obj/
/Prod_IssueTracker_POC/bin/
/Prod_IssueTracker_POC/obj
/Prod_IssueTracker_POC.Web/bin/
/Prod_IssueTracker_POC.Web/obj/
/bin/Debug
/Prod_IssueTracker_POC.Web/obj/
/obj/Debug
/.vs/ProjectEvaluation
